@import url('https://fonts.googleapis.com/css2?family=Explora&family=Source+Sans+Pro:wght@300;400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
        line-height: 2.0;
        background-color: #020616;
        padding: 0 2rem;
}

.imagem {
    height: 200px;
    width: 320px;
    border-radius: 0 35px;
    margin-top: 75px;
    margin-left: 75px;

}

h1 {
    font-size: 60px;
    color: #f1f3fb;
    text-align: center;
}

label {
    color: white;
    ;
}

.formulario {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(#999, .25);
    padding: .75rem;
    box-sizing: border-box;
    float: right;
    margin-top: 4.5rem;
    margin-bottom: 2rem;
}

.botao {
    border-radius: 4px;
    height: 44px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 200ms linear;
    margin: 2px;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    background-color: rgb(4, 4, 26);
    color: #ffffff;
}

.botao:focus {
    background-color: #020616;
    color: #ffffff;
}

.botao:hover {
    background-color: #102770;
    color: #ffffff;
    box-shadow: 0 8px 24px 0 rgba(16, 39, 112, .2);
}

.nome-form {

    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: .5px;
    background-color: #ffffff;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.041);
}

.efeito-glow {
    cursor: pointer;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
}

.efeito-glow:hover {
    transform: scale(1.1);
}

.efeito-glow2 {
    cursor: pointer;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
}

.efeito-glow2:hover {
    transform: scale(1.5);
}

footer {
    color: white;
    text-align:left;
    padding: 180px 0 0;
    font-size: 12px;
}

.redes__links--instagram {
  
    padding: 5pt;
    display: inline-block;   
 }
 
 .redes__links--facebook {
    
    padding: 5pt;
    display: inline-block;
 }
 
 .redes__links--youtube{
     
     padding: 5pt;
     display: inline-block;          
 }
 
 .redes__links--twitter{
  
     padding: 5pt;
     display: inline-block;
 }
 
 .redes__links--facebook:hover{
    
     cursor: default;
     transform: rotate(360deg);
     transition: all 0.3s ease-in-out 0s;
 }
 
 .redes__links--instagram:hover{
 
     cursor: default;
     transform: rotate(360deg);
     transition: all 0.3s ease-in-out 0s;
 }
 
 .redes__links--twitter:hover{
 
     cursor: default;
     transform: rotate(360deg);
     transition: all 0.3s ease-in-out 0s;
 }
 
 .redes__links--youtube:hover{
 
     cursor: default;
     transform: rotate(360deg);
     transition: all 0.3s ease-in-out 0s;
 }
 
 .titulo__formulario{
     font-family: 'Montserrat', sans-serif;
     font-weight: bold;
     line-height: 3.0;
 }
 
 .titulo__imagens{
     font-family: 'montserrat', sans-serif;
     font-weight: bold;
     font-size: 15pt;
     color: #f1f3fb;
     padding: 0;
   
 }
 
 .titulo__imagens--texto{
     margin-left: 20%;
     margin-bottom: -3%;
 
 }
